<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>table view</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.6.0/vue-router.min.js"></script>
    <link type="text/css" rel="stylesheet" href="./style.css">
</head>
<body>
    <section id="app">
      <h1 class="tit">제목입니다.</h1>
      <p class="date">19.03.03 15:30</p>

        <div class="area_writer">
            <span class="writer">{{writer}}</span>
            |
            <span class="views">조회수 10</span>
            <span class="like" id="like">
                <button @click="countup">좋아요</button>
                <span class="num" v-clock>{{number}}</span>
            </span>
        </div>

        <div class="area_review">
            내용입니다. 내용입니다. 내용입니다.
        </div>

        <div class="box_comment" id="box_comment">
            <div class="area_comment" v-for="(todo, index) in todos" :key="todo.id" :class="{ replybox: todo.class }">
              <span class="name">{{ todo.name }}</span>
              <span class="date">{{ todo.date }}</span>
              <button class="btn_comment" @click="toggle(todo.id)" :class="{ opened: opened.includes(todo.id) }">댓글</button>
              <button @click="remove(index)" class="btn_remove">X</button>
              <button v-on:click="edit" class="btn_edit">수정</button>
              <p class="comment">{{ todo.comment }}</p>

              <div class="area_input sub" id="area_sub" v-if="opened.includes(todo.id)">
                <textarea placeholder="댓글을 입력해주세요" v-model="newReplyComment"></textarea>
                <button type="button" v-on:click="addReplyTodo(todo.id)">등록</button>
              </div>

              
            </div>
            <div class="area_input">
              <textarea name="" id="" v-model="newTodoComment" placeholder="댓글을 입력해주세요"></textarea>
              <button type="button" v-on:click="addNewTodo">등록</button>
            </div>
        </div>
    </section>

<script src="app.js"></script>
</body>
</html>
